<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CsvFolderPath" value="C:\Users\komals\source\repos\myService\Reports"/>
		<add key="RepxFolderPath" value="C:\Users\komals\source\repos\myService\Reports"/>
		<add key="PdfFilesPath" value="C:\SchdlLogs"/>
		<add key="PDFFilePath" value="C:\SchdlLogs\PDF\"/>
		<add key="ZipFilePath" value="C:\SchdlLogs\Zip\"/>

		<add key="FromEmail" value="techmafia0701@gmail.com"/>
		<add key="BCCEmail" value="techmafia0701@gmail.com"/>
		<add key="EmailPasswd" value="izymlbmvbyvcuzvo"/>
		
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>